apiVersion: v1
kind: Service
metadata:
  name: {{ include "webapp.fullname" . }}-service
  labels:
    app: {{ include "webapp.name" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 80
    protocol: TCP
  selector:
    app: {{ include "webapp.name" . }}
